* {
  box-sizing: border-box;
}

.views {
  align-items: center;
  justify-content: center;
}

.logo-ann {
  animation-duration: 3s;
  animation-name: bounce;
}

.colors {
  align-items: center;
  margin: 6px;
}
.shapes {
  align-items: center;
  margin: 6px;
}

.yesOrNo {
  align-items: center;
}
/*
.logUl {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: center;
} */

.navBar {
  margin: 40px;
  justify-content: space-between;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.container {
  text-align: left;
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}


.page {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.user-projects-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.user-project-div {
  margin: 1rem 4rem;
  padding: 1rem;
  width: 18rem;
  border: 2px solid white;
  border-radius: 5px;
}

h6 {
  margin: 0;
}


.App {
  text-align: center;
}

.bar {
  padding: 10px;
  justify-content: space-between;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.enter {
  border: black;
  margin: 20px;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

button {
  height: 80px;
  width: 200px;
  font-size: large;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
